S3method("*",CompoundFactor)
S3method("/",CompoundFactor)
S3method("[",CurveInterpolation)
S3method("[",SpotRateCurve)
S3method("[<-",CurveInterpolation)
S3method("[<-",SpotRateCurve)
S3method(all.equal,CompoundFactor)
S3method(all.equal,SpotRate)
S3method(as.CompoundFactor,CompoundFactor)
S3method(as.CompoundFactor,SpotRate)
S3method(as.SpotRate,CompoundFactor)
S3method(as.SpotRate,SpotRate)
S3method(as.SpotRateCurve,data.frame)
S3method(as.data.frame,SpotRateCurve)
S3method(compound,CompoundFactor)
S3method(compound.factor,CompoundFactor)
S3method(compound.factor,SpotRate)
S3method(compounding,SpotRate)
S3method(compounding,SpotRateCurve)
S3method(dib,SpotRate)
S3method(dib,SpotRateCurve)
S3method(discount,CompoundFactor)
S3method(forward.rate,SpotRate)
S3method(forward.rate,SpotRateCurve)
S3method(length,SpotRateCurve)
S3method(method,CurveInterpolation)
S3method(neighbors,SpotRateCurve)
S3method(plot,SpotRateCurve)
S3method(print,CompoundFactor)
S3method(print,SpotRate)
S3method(rate,CompoundFactor)
S3method(rate,SpotRate)
S3method(rates,SpotRateCurve)
S3method(term,CompoundFactor)
S3method(term,SpotRate)
S3method(terms,SpotRateCurve)
export(CompoundFactor)
export(CurveInterpolation)
export(InterestRate)
export(SpotRate)
export(SpotRateCurve)
export(as.CompoundFactor)
export(as.SpotRate)
export(as.SpotRateCurve)
export(compound)
export(compound.factor)
export(compounding)
export(dib)
export(discount)
export(forward.rate)
export(getSpotRate)
export(interp)
export(is.SpotRate)
export(method)
export(neighbors)
export(rate)
export(rates)
export(term)
export(terms)
