S3method(calendar,spotrate)
S3method(compound,CompoundFactor)
S3method(compounding,SpotRateCurve)
S3method(compounding,spotrate)
S3method(daycount,spotrate)
S3method(dib,SpotRate)
S3method(dib,SpotRateCurve)
S3method(discount,CompoundFactor)
S3method(frequency,spotrate)
S3method(print,spotrate)
S3method(rates,CurveInterpolation)
S3method(rates,SpotRateCurve)
S3method(rates,spotrate)
S3method(term,CompoundFactor)
S3method(term,SpotRate)
export(as.spotrate)
export(calendar)
export(compound)
export(compounding)
export(daycount)
export(dib)
export(discount)
export(frequency)
export(is.spotrate)
export(rates)
export(spotrate)
export(term)
